footer
  div
    p 2017-2017 &nbsp;&nbsp;&nbsp;&nbsp; Project Legal DD
    p
      span Powered by &nbsp;
        a(href="https://ycwalker.com") ciqu
      span &nbsp;&nbsp;| &nbsp;&nbsp;Designed by CiCi &nbsp; | &nbsp;&nbsp;&nbsp;
      span Launched by &nbsp;
        a(href="https://tablezhao.com") TonyZ 
      span &nbsp;&nbsp;& Tina
